#contato {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    background-color: rgb(31, 31, 31);

    .ctt {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid #000;
        font-size: 24px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        border-color: white;

        i {
            font-size: 100px;
            transition: all 0.3s ease;
            color: white;
        }
    }

    .ctt:nth-child(1):hover {
        transform: scale(1.1);
        box-shadow: 0 0 15px #E1306C;
    
        i {
            color: #E1306C;
        }
    }

    .ctt:nth-child(2):hover {
        transform: scale(1.1);
        box-shadow: 0 0 15px #EA4335;
    
        i {
            color: #EA4335;
        }
    }

    .ctt:nth-child(3):hover {
        transform: scale(1.1);
        box-shadow: 0 0 15px #1877F2;

        i {
            color: #1877F2;
        }
    }

    .ctt:nth-child(4):hover {
        transform: scale(1.1);
        box-shadow: 0 0 15px #0A66C2;
    
        i {
            color: #0A66C2;
        }
    }
}