@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --font-primary: 'Inter';
    --font-second: 'JetBrains Mono', monospace;
    --bg-color: #f1f1f1;
    --bg-color-second: rgba(134, 134, 134, 0.2);
    --primary-color: #1A1A1A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--primary-color);
}

body{
    background-color: var(--bg-color);
    font-family: var(--font-primary);

    .menu-bg {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: var(--bg-color-second);
        width: 500px;
        padding: 10px;
        margin: 15px auto;
        border-radius: 20px;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        z-index: 1000;
        border: 2px solid transparent;
        transition: .2s ease-in-out;

        .links{
            display: flex;
            gap: 2rem;
            align-items: center;
            justify-content: center;
        
            .link {
                text-decoration: none;
                cursor: pointer;
                position: relative;
            }

            .link::after {
                content: " ";
                width: 0%;
                height: 2px;
                border-radius: 2px;
                background-color: black;
                position: absolute;
                left: 0;
                bottom: -1px;
                transition: .5s ease-in-out;
            }

            .link:hover::after{
                width: 100%;
            }
        }
    }

    .menu-bg:hover {
        border: 2px solid var(--primary-color);
    }

    main {
        height: 100vh;

        #inicio {
            font-family: var(--font-second);
            height: 100vh;

            .img {
                width: 390px;
                position: relative;
                top: 54.2%;
                left: 60%;
                transform: translate(-50%, -50%);

                img {
                    width: 390px;
                }
            }

            .front_end {
                position: absolute;
                top: 37%;
                left: 52%;
                transform: translate(-50%, -50%);
                word-spacing: 120px;
                
                h1 {
                    font-size: 190px;
                    font-weight: 900;
                    width: 1201px;
                }
            }

            .texto {
                width: 410px;
                font-weight: bold;
                font-size: 18px;    
                text-align: center;
                position: absolute;
                top: 65%;
                left: 28%;
                transform: translate(-50%, -50%);
            }
        }

        #sobre {
            height: 100vh;
            background-color: blue; /*COR TEMPORARIA*/
        }
    }
    
}