@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --font-primary: 'Inter';
    --font-second: 'JetBrains Mono';
    --bg-color: #f1f1f1;
    --bg-color-second: rgba(134, 134, 134, 0.2);
    --primary-color: #1A1A1A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    color: var(--primary-color);
}

body{
    background-color: var(--bg-color);

    .menu-bg {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: var(--bg-color-second);
        width: 500px;
        padding: 10px;
        margin: 15px auto;
        border-radius: 20px;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        z-index: 1000;
        border: 2px solid transparent;
        transition: .2s ease-in-out;

        .links{
            display: flex;
            gap: 2rem;
            align-items: center;
            justify-content: center;
        
            .link {
                text-decoration: none;
                cursor: pointer;
                position: relative;
            }

            .link::after {
                content: " ";
                width: 0%;
                height: 2px;
                border-radius: 2px;
                background-color: black;
                position: absolute;
                left: 0;
                bottom: -1px;
                transition: .5s ease-in-out;
            }

            .link:hover::after{
                width: 100%;
            }
        }
    }

    .menu-bg:hover {
        border: 2px solid var(--primary-color);
    }

    main {
        height: 100vh;

        #inicio {
            height: 100vh;
            background-color: red; /*COR TEMPORARIA*/
            img {
                width:200px;
            }
        }

        #sobre {
            height: 100vh;
            background-color: blue; /*COR TEMPORARIA*/
        }
    }
    
}