.nav-bar {
  width: 100%;
  height: 13vh;
  background-color: rgb(31, 31, 31);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 0 0 3px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  position: fixed;

  .nav-list {
    height: 100%;
    display: flex;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        gap: 40px;
    }

    .nav-item {
        .nav-link {
            text-decoration: none;
            font-family: var(--font-primary);
            font-size: 1.2rem;
            font-weight: 500;
            color: white;
            padding: 10px 15px;
            transition: background-color 0.3s, color 0.3s;
            border-radius: 5px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.582);
                border-radius: 5px;
                color: black;
            }
        }
    }
  }
}
