@media (max-width: 450px) {
  body {
    .menu-bg {
      display: none;
    }

    main {
      #inicio {
        height: 100dvh;

        img {
          display: none;
        }

        .titulo {
          display: none;
        }

        .texto {
          top: 46%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 16px;
          width: 290px;
        }
      }

      #sobre {
        display: block;
        width: 100%;
        text-align: center;

        .apresentacao {
          margin-top: 130px;
          width: 100%;
          font-size: 20px;
          padding: 20px;
        }

        .img-sobre {
          width: 280px;
          height: 260px;
          margin: 0 auto;
          margin-top: 50px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      #tec {
        .tecs {
          width: 80px;
          height: 80px;

          i {
            font-size: 50px;
          }
        }
      }

      #contato {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 5rem;

        .ctt {
          width: 100px;
          height: 100px;

          i {
            font-size: 50px;
          }
        }
      }
    }
  }
}
