#sobre {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
    

    .apresentacao {
        width: 50%;
        font-size: 24px;
        font-weight: 500;
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .img-sobre {
        width: 400px;
        height: 380px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}