@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --primary-color: #fff;
    --background-clean: #fff;
    --second-color: #000;
    --background-price: #008D2C;
    --background-price-dark: #004717;
    --promotion: #FF0000;
    --background-dark: #282828;
    --border: #6b6b6b;
    --background-category: #D9D9D9;
    --background-shadow: #1d1d1d38;
    --color-shadow: #0000006c;
    --font: 'Inter';
}

body {
    background-color: #c9c9c9;
}

/*! ESTILOS GERAIS */
ul {
    list-style-type: none;
} 

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: .2s;
}

button {
    font-size: 19px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--background-price);
    border: 2px solid var(--background-price);
    color: var(--primary-color);
    cursor: pointer;
    transition: .5s;
}

button:hover {
    background-color: transparent;
    border: 2px solid var(--background-price);
    color: var(--primary-color);
}

.flex {
    display: flex;
}

.novidade, .oferta {
    border-radius: 20px;
    box-shadow: 0 0 10px var(--background-shadow);
}

.oferta:hover, .novidade:hover {
    transform: scale(1.02);
}

.oferta .oferta-interno p, .oferta .oferta-interno h3 {
    text-shadow: 0 0 5px var(--color-shadow);
}

/** CABEÇALHO */
.cabecalho {
    background-color: var(--background-dark);
    display: flex;
    justify-content: space-between;
}

.header-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

.header-email .search input {
    border: none;
    outline: none;
    padding: 8px;
    width: 300px;
    border-radius: 20px;
    font-size: 18px;
}

.header-email .logo img {
    margin: 10px 10px;
}

/** CABEÇALHO NAV */
.header-nav nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 14vh;
}

.header-nav nav ul li {
    margin: 0 20px;
    transition: .5s;
}

.header-nav nav ul li a:hover {
    color: #6d6d6d;
}

/*? ESTILO TOPO SITE*/
.topo {
    background-color: #a8a8a8;
    background: url('/assets/imagemEcommerce/pexels-karolina-grabowska-5632397.jpg');
    background-repeat: no-repeat;/*EVITA DA IMAGEM NÃO FICAR SE REPETINDO*/
    background-size: cover;/*DEIXA A IMAGEM 100% NO ELEMENTO*/
    background-position: center;/*CENTRALIZA A IMAGEM NO ELEMENTO*/
    border-radius: 30px;
    box-shadow: 0 0 10px var(--background-shadow);
    width: 80%;
    margin: 20px auto 0;
    height: 540px;
}

.topo .topo-mensagem {
    color: var(--primary-color);
    display: flex;
    width: 380px;
    justify-content: center;
    height: 90%;
    flex-direction: column;
    margin-left: 150px;
}

.topo .topo-mensagem .melhor-preco {
    background-color: red;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    cursor: default;
    box-shadow: 0 0 5px var(--background-shadow);
}

.topo .topo-mensagem .melhor-preco p {
    padding: 5px;
    margin: 0;
}
 
.topo .topo-mensagem h2 {
    font-size: 30px;
    margin: 10px 0;
}

.topo .topo-mensagem h2, .topo .topo-mensagem p {
    text-shadow: 0 0 5px var(--color-shadow);
}

.topo .topo-mensagem p {
    margin-bottom: 10px;
}

/** ESTILOS DE OFERTA */
.ofertas-novidades .flex {
    justify-content: space-evenly;
    align-items: center;
    margin: 60px 4%;
}

.ofertas-novidades .oferta {
    background: url('/assets/imagemEcommerce/iphone16.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: .2s;
}

.oferta .oferta-interno {
    width: 350px;
    margin: 90px 0 0 30px;
    font-size: 20px;
    color: var(--primary-color);
}

.oferta .oferta-interno h3 {
    margin: 5px 0;
}

.oferta .oferta-interno p span {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.oferta .oferta-interno .btn-comprar {
    margin-top: 10px;
}


/** ESTILOS DE NOVIDADE */
.ofertas-novidades .novidade {
    background: url('/assets/imagemEcommerce/fonePromo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: .2s;
}

.novidade .novidade-interno {
    width: 350px;
    margin: 90px 0 0 150px;
    font-size: 20px;
    color: var(--primary-color);
}

.novidade .novidade-interno span {
    text-decoration: underline;
}

.novidade .novidade-interno h3 {
    margin: 5px 0;
}

.novidade .novidade-interno .btn-comprar {
    margin-top: 10px;
}

/*? ESTILO DE BENEFICIOS */
.beneficios {
    box-shadow: 0 0 10px var(--background-shadow);
}

.beneficios .flex {
    justify-content: center;
    align-items: center;
    padding: 40px 8%;
    background-color: white;
    gap: 90px;
    font-size: 35px;
    cursor: default;
}

.beneficios .retirada {
    width: 300px;
} 

.retirada, .frete-gratis, .preco-baixo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.beneficios .flex i {
    font-size: 90px;
    margin-right: 15px;
    color: var(--background-price);
}

/*? ESTILO DO VENDIDO */
.vendidos {
    margin: 80px 0;
    padding: 40px 4%;
    background-color: var(--background-clean);
    box-shadow: 0 0 10px var(--background-shadow);
}

.vendidos h1 {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.vendidos .flex {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.flex-group {
    height: 300px;
    width: 200px;
    border: 1px solid var(--border);
    transition: .2s;
}

.flex-group:hover {
    transform: scale(1.05);
    cursor: pointer;
    border: 1px solid var(--background-price);
    border-radius: 15px;
    box-shadow: 0 0 10px var(--background-shadow);
}

.flex-group .img-produto {
    width: 150px;
    height: 160px;
    margin: auto;
    padding: 10px;
}

.flex-group .promo {
    background-color: var(--promotion);
    width: 100px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.flex-group .promo p {
    text-align: center;
    color: var(--primary-color);
    margin: 0;
}

.flex-group p {
    margin-left: 10px;
}

.flex-group .preco {
    margin-top: 10px;
}

.flex-group .preco p {
    padding: 2px 0;
    color: var(--background-price);
}

.flex-group .preco .linha-meio {
    text-decoration: line-through;
    text-decoration-thickness: 2px;/*AUMENTAR A ESPESSURA DA LINHA*/
}

.flex-group .img-produto img {
    width: 100%;
    height: 100%;
}