@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --primary-color: #fff;
    --second-color: #000;
    --background-price: #008D2C;
    --background-price-dark: #004717;
    --promotion: #FF0000;
    --background-dark: #282828;
    --background-category: #D9D9D9;
    --background-shadow: #1d1d1d38;
    --color-shadow: #0000006c;
    --font: 'Inter';
}

body {
    background-color: #f0f0f0;
}

/*! ESTILOS GERAIS */
ul {
    list-style-type: none;
} 

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: .2s;
}

button {
    font-size: 19px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--background-price);
    border: 2px solid var(--background-price);
    color: var(--primary-color);
    cursor: pointer;
    transition: .5s;
}

button:hover {
    background-color: transparent;
    border: 2px solid var(--background-price);
    color: var(--primary-color);
}

/** CABEÇALHO */
.cabecalho {
    background-color: var(--background-dark);
    display: flex;
    justify-content: space-between;
}

.header-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

.header-email .search input {
    border: none;
    outline: none;
    padding: 8px;
    width: 300px;
    border-radius: 20px;
    font-size: 18px;
}

.header-email .logo img {
    margin: 10px 10px;
}

/** CABEÇALHO NAV */
.header-nav nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 14vh;
}

.header-nav nav ul li {
    margin: 0 20px;
    transition: .5s;
}

.header-nav nav ul li a:hover {
    color: #6d6d6d;
}

/*? ESTILO TOPO SITE*/
.topo {
    background-color: #a8a8a8;
    background: url('/assets/imagemEcommerce/pexels-karolina-grabowska-5632397.jpg');
    background-repeat: no-repeat;/*EVITA DA IMAGEM NÃO FICAR SE REPETINDO*/
    background-size: cover;/*DEIXA A IMAGEM 100% NO ELEMENTO*/
    background-position: center;/*CENTRALIZA A IMAGEM NO ELEMENTO*/
    border-radius: 30px;
    box-shadow: 0 0 10px var(--background-shadow);
    width: 80%;
    margin: 20px auto 0;
    height: 540px;
}

.topo .topo-mensagem {
    color: var(--primary-color);
    display: flex;
    width: 380px;
    justify-content: center;
    height: 90%;
    flex-direction: column;
    margin-left: 150px;
}

.topo .topo-mensagem .melhor-preco {
    background-color: red;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    cursor: default;
    box-shadow: 0 0 5px var(--background-shadow);
}

.topo .topo-mensagem .melhor-preco p {
    padding: 5px;
    margin: 0;
}
 
.topo .topo-mensagem h2 {
    font-size: 30px;
    margin: 10px 0;
}

.topo .topo-mensagem h2, .topo .topo-mensagem p {
    text-shadow: 0 0 5px var(--color-shadow);
}



.topo .topo-mensagem p {
    margin-bottom: 10px;
}