@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color: #ffffff;
    --background-color: #000000;
    --background-primary: #2525ff;
    --input-color: #242424;
}

/* !ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: var(--background-color) !important;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--background-primary);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
} 

button:hover, form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px var(--background-primary);
    transform: scale(1.05);
}

h2.titulo {
    color: var(--color);
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: var(--background-primary);
}

/* *CABEÇALHO */
header {
    padding: 40px 4%;
}

header .logo img {
    width: 200px;
    height: 40px;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    transition: .2s;
    display: inline-block;
}

header nav.menu-desktop a:hover {
    color: var(--color);
    transform: scale(1.05);/*só funciona em elementos block level ou inline level*/
}

.btn-abrir-menu {
    display: none;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/*? ESTILO DO MENO MOBILE */
.btn-abrir-menu i {
    color: var(--background-primary);
    font-size: 40px;
}

.menu-mobile {
    background-color: var(--background-color);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: var(--color);
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: var(--background-primary);
    color: var(--background-color);
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: var(--background-primary);
    font-size: 30px;
}

.overlay-menu {
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 88888;
    display: none;
}

/* *ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    font-size: 42px;
    color: var(--color);
    line-height: 38px;
    font-weight: bold;
}

.topo-do-site .txt-topo-site h1 span {
    color: var(--background-primary);
    font-size: 70px;
}

.topo-do-site .txt-topo-site p {
    color: var(--color);
    margin: 40px 0;
}

.img-topo-site img {
    width: 400px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;/* nome da animação, tempo de duração, rápido ou devagar, infinito, se quer que vai alternando */
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

/* ? FERRAMENTAS */
section.ferramentas {
    padding: 40px 4%;
}

.ferramentas .ferramentas-box {
    color: var(--color);
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: ease .2s;
}

.ferramentas .ferramentas-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff73;
} 

.ferramentas .ferramentas-box i {
    font-size: 70px;
    color: var(--background-primary);
}

.ferramentas .ferramentas-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

section.ferramentas .flex {
    gap: 60px;
}

/* * SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: var(--color);
}

.txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.txt-sobre span {
    color: var(--background-primary);
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--background-primary);
    font-size: 22px;
    cursor: pointer;
    margin: 0 10px;
    transition: .2s;
}

.img-sobre img {
    width: 300px;
}

/* * PROJETOS */
section.projetos {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.projetos .interface .flex { 
    flex-wrap: wrap;
}

.projetos .projetos-box {
    color: var(--color);
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    justify-content: center;
    transition: ease .2s;
}

.projetos .projetos-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff73;
} 

.projetos .projetos-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

section.projetos .flex {
    justify-content: center;
    gap: 90px;
}

section.projetos .flex a {
    text-decoration: none;
}

.btn-todos button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--background-primary);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
} 

.btn-todos {
    margin-top: 60px;
    text-align: center;
}

.btn-todos button:hover {
    box-shadow: 0px 0px 8px var(--background-primary);
    transform: scale(1.05);
}

/* ?ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea {
    width: 100%;
    background-color: var(--input-color);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: var(--color);
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: var(--background-primary);
    color: var(--background-color);
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ? ESTILO DO RODAPÉ */
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid var(--background-primary);
}

footer .line-footer p {
    color: var(--background-primary);
}

footer .line-footer p i {
    color: var(--background-primary);
    font-size: 22px;
} 

footer .line-footer p a {
    color: var(--color);
}

@media screen and (max-width: 899px) {
    /* ! CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* ? CABEÇAÇHO */
    .btn-contato, .menu-desktop  {
        display: none;
    }

    .btn-abrir-menu {
        display: block;
    }

    /* * TOPO DO SITE */
    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* ? FERRAMENTAS */
    section.ferramentas {
        padding: 40px 8%;
    }

    /* * SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    /* ? PROJETOS */
    section.projetos {
        padding: 80px 8%;
    }

    section.projetos .flex {
        gap: 20px;
    }

    /* * RODAPÉ */
    footer .flex {
        gap: 40px;
    }

    footer .line-footer {
        text-align: center;
    } 

    footer .line-footer img {
        width: 200px;
    }
}